<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8083.37805" newVersion="2.0.8083.37805" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.8083.37372" newVersion="1.1.8083.37372" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.geometry._planar_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8088.2783" newVersion="1.0.8088.2783" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7842.32443" newVersion="1.0.7842.32443" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._geometry_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7842.32937" newVersion="1.0.7842.32937" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8049.42650" newVersion="1.0.8049.42650" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8083.37266" newVersion="1.0.8083.37266" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7842.32362" newVersion="1.0.7842.32362" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._win_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._complex_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8087.3356" newVersion="1.0.8087.3356" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio.WinMM" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup></configuration>
